<h1>Listing wights</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Wegiht</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wights.each do |wight| %>
      <tr>
        <td><%= wight.user_id %></td>
        <td><%= wight.wegiht %></td>
        <td><%= link_to 'Show', wight %></td>
        <td><%= link_to 'Edit', edit_wight_path(wight) %></td>
        <td><%= link_to 'Destroy', wight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wight', new_wight_path %>
