<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wight.user_id %>
</p>

<p>
  <strong>Wegiht:</strong>
  <%= @wight.wegiht %>
</p>

<%= link_to 'Edit', edit_wight_path(@wight) %> |
<%= link_to 'Back', wights_path %>
